{% extends "base.html" %}
{% block title %}Explore Movie{% endblock %}

{% block content %}
<!-- <div class="nav-item"><a class="nav-link" href="login.html"><span class="fa fa-sign-out-alt"></span> Logout -->
    <div class="nav-item"><a class="nav-link" href="logout"><span class="fa fa-sign-out-alt"></span> Logout
    </a></div>
    <h3 align="center" margin="auto"> Welcome to Team 26 Atlanta Movie Management System </h3>

<!-- <div class="login-card card">
    <div class="card-header">
        <h3 class="panel-title"><center>Theater Overview</center></h3> -->
<div class="card form-card">
    <div class="card-header">
        <h3 class="panel-title"><center>Explore Movie</center></h3>
    </div>
    <div class="card-body">
        <form role="form" method="POST">            

            <div class="form-group_1">
                <label>Movie Name</label>
                <select name="movName" class="form-control" required>
                    {% for it in MOVIE %}
                    <option>{{it}}</option>
                    {% endfor %}
                </select>
            </div>



            <div class="form-group_1">
                <label>Company</label>
                <select name="comName" class="form-control" required>
                    {% for it in COMPANY %}
                    <option>{{it}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group_1">
                <label>City</label>
                <input name="thCity" type="text" class="form-control col-sm-9" placeholder="City" maxlength=45>
            </div>


            <div class="form-group_1">
                <label>State</label>
                <select name="thState" class="form-control" required>
                    {% for it in STATE %}
                    <option>{{it}}</option>
                    {% endfor %}
                </select>
            </div>

{##}
{#            <div class="form-group row">#}
{#                <label class="col-sm-3 col-form-label">Credit Card Number</label>#}
{#                <input name="creditCardNum" type="text" class="form-control col-sm-9" placeholder="Credit Card Number" maxlength=45>#}
{#            </div>#}


            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Movie Play Date</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend"><span class="input-group-text">From</span></div>
                    <input name="minMovPlayDate" type="date" class="form-control col-sm-9">
                </div>
                <div class="col-sm-1"></div>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend"><span class="input-group-text">To</span></div>
                    <input name="maxMovPlayDate" type="date" class="form-control col-sm-9">
                </div>
            </div>

            <!-- <input name="includeNotPlayed_default" type="hidden" value = 0> -->
            <div class="form-group row"></div>
            <div class="form-group row"></div>
            <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                 <button type="submit" class="btn btn-primary btn-block">Filter</button>
            </div>
            <div class="col-sm-3"></div>
        </form>
    </div>
</div>
{% endblock %}
