{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block content %}
<h3 align="center" margin="auto"> Welcome to Team 26 Atlanta Movie Management System </h3>
<div class="form-card_1 card">
    <div class="card-header">
        <h3 class="panel-title"><center>User Registration</center></h3>
    </div>
    <div class="card-body">
        <form role="form" method="post">
            <style>
                .form-group {
                    width:48%;
                    margin: 1%;
                    /* height:400px; */
                    /* background-color:#0f0; */
                    float:left;
                }
                .form-group_1{
                    width:100%;
                    margin: 1%;
                    float:left;
                }
            </style>

            <div class="form-group">
                <i class="fa fa-user"></i>
                <input class="form-control" placeholder="First Name" name="firstname" autofocus="" type="text"
                       required="required" maxlength=50>
            </div>
            <div class="form-group">
                <i class="fa fa-user"></i>
                <input class="form-control" placeholder="Last Name" name="lastname" autofocus="" type="text"
                       required="required" maxlength=50>
            </div>
            <div class="form-group">
                <i class="fa fa-user"></i>
                <input class="form-control" placeholder="Username" name="username" autofocus="" type="text"
                       required="required" maxlength=50>
            </div>

            <div class="form-group_1">
                <i class="fa fa-lock"></i>
                <input class="form-control" placeholder="Password" name="password" value="" type="password"
                       required="required" maxlength=50>
            </div>
            <div class="form-group_1">
                <i class="fa fa-lock"></i>
                <input class="form-control " placeholder="Confirm Password" name="confirmpassword" value="" type="password"
                       required="required" maxlength=50>
            </div>


            <div class="form-group_1">
                <a class="btn btn-primary btn-block" href="register_navigation.html"><span></span>
                    Back</a>
            </div>
            <!-- <div class = "form-group_1"></div> -->
            <div class="form-group_1">
                <input type="submit" class="btn btn-primary btn-block" value="Register">
            </div>



        </form>
    </div>
</div>
{% endblock %}
